<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <script src="{% static 'jquery/jquery.js' %}"></script>
</head>
<body>
<div class="container">
    <div class="row convert-head">
      <div class="col-md-12">
        <h1>Конвертер</h1>
      </div>
    </div>
    <div class="row converter-help">
        <div class="col-md-12">
          <p>
            Конвертер поддерживает конвертацию из римской системы исчисления в арабскую и наоборот.<br>
            Введите значение в поле для ввода и получите ответ. Для правильной записи больших чисел римскими
            цифрами
             необходимо сначала записать число тысяч, затем сотен, затем десятков и, наконец, единиц.
             При этом некоторые из цифр (I, X, C, M) могут повторяться, но не более трёх раз подряд.
             Число должно находится в интервале от 1 до 3999 включительно.
            <br>
            Обозначения:<br>
          </p>
        </div>
        <div class="row">
          <div class="col-md-1">
              <table>
                <tr>
                  <td>
                    1
                  </td>
                  <td>
                    I
                  </td>
                </tr>
                <tr>
                  <td>
                    5
                  </td>
                  <td>
                    V
                  </td>
                </tr>
                <tr>
                  <td>10</td>
                  <td>X</td>
                </tr>
              </table>
          </div>
          <div class="col-md-1">
            <table>
              <tr>
                <td>4</td>
                <td>IV</td>
              </tr>
              <tr>
                <td>9</td>
                <td>IX</td>
              </tr>
              <tr>
                <td>40</td>
                <td>XL</td>
              </tr>
            </table>
          </div>
          <div class="col-md-1">
            <table>
              <tr>
                <td>90</td>
                <td>XC</td>
              </tr>
              <tr>
                <td> 400</td>
                <td>CD</td>
              </tr>
              <tr>
                <td>900</td>
                <td>CM</td>
              </tr>
            </table>
          </div>
          <div class="col-md-1">
            <table>
              <tr>
                <td>50</td>
                <td>L</td>
              </tr>
              <tr>
                <td>100</td>
                <td>C</td>
              </tr>
              <tr>
                <td>500</td>
                <td>D</td>
              </tr>
            </table>
          </div>
          <div class="col-md-1">
            <table>
              <tr>
                <td>1000</td>
                <td>M</td>
              </tr>
            </table>
          </div>
    </div>
  </div>
    {% csrf_token %}
    <div class="row converter-inp">
        <div class="col-md-6">
          <div class="form-group">
            <label for="convert_input">Конвертируемое значение</label>
            <input id="convert_input" type="text" class="form-control" placeholder="">
          </div>
        </div><!--
        <div class="col-md-2">
          <button  name="button" id="convert_btn" class="btn btn-primary ">Convert</button>
        </div>-->
        <div class="col-md-6">
          <div class="form-group">
            <label for="converted_input">Результат</label>
            <input id="converted_input" type="text" class="form-control" placeholder="" readonly>
          </div>
        </div>
    </div>
</div>
<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
